if userData
  article.screen
    div.navContainer
      nav.navbar
        div.button(onclick="window.location.href='/'") Home
        div#logout.button(onclick="logout()") 로그아웃
else
  div.navContainer
    nav.navbar
      div.button(onclick="window.location.href='/login'") 로그인
div 
  h1 PlayList
each song, index in popularSongs
  div.list
    div.chart()=song.title
    if userData
      div.myList 삭제
  div 
    dialog#myDialog(onclick="dialogClick(e)")
      iframe(src="", frameborder="0" id="player" type="text/html" width="640" height="360") 